<div class="container content">
  <div class="row">
    <div class="col-lg-2">

    </div>
    <div class="col-lg-8">
      <form>
        <h2>Personal Details</h2>
        <hr>
        <div class="form-group">

          <label for="name">Name</label>
          <input type="text" class="form-control" id="name">
        </div>
        <div class="form-group">

          <label for="position">Position</label>
          <input type="text" class="form-control" id="name" value="{{position}}" readonly>
        </div>
        <div class="form-group">
          <label for="email">Email address:</label>
          <input type="email" class="form-control" id="email">
        </div>
        <div class="form-group">
          <label for="phone">Phone</label>
          <input type="number" class="form-control" id="phone">
        </div>
        <div class="form-group">
          <label for="dob">Date of Birth</label>
          <input type="date" class="form-control" id="dob">
        </div>
        <div class="form-group">
          <label for="radio">Gender:</label>
          <input type="radio" id="radio" name="radio" class="radio-inline" style="margin-top:-5px" /> &nbsp;&nbsp;Male
          <input type="radio" id="radio" name="radio" class="radio-inline" />&nbsp;&nbsp;Female
        </div>
        <div class="form-group">
          <label for="city">Current City</label>
          <input type="text" class="form-control" id="city">
        </div>
        <br>
        <br>

        <h2>Professional Details</h2>
        <hr>
        <div class="form-group">
          <label for="file">Resume</label>
          <input type="file" class="form-control-file" id="file">
        </div>
        <div class="form-group">
          <label for="city">Current Employement Status</label>
          <select class="selectpicker">
            <option>Select</option>
            <option>Fresher</option>
            <option>Freelancer</option>
            <option>Working</option>

          </select>
        </div>
        <div class="form-group">
          <label for="exp">Experience(If any)</label>
          <input type="number" class="form-control" id="exp">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>

    <div class="col-lg-2">

    </div>
  </div>
  